<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.company.finance.infrastructure.persistence.mapper.DailyExpenseRecordMapper">


    <insert id="insertOrUpdate">
        INSERT INTO daily_expense_record (category_id, expense_amount, expense_date, expense_type,
                                          remark, create_name, create_time, update_name,update_time)
        VALUES (#{categoryId}, #{expenseAmount}, #{expenseDate}, #{expenseType}, #{remark},
                #{createName}, NOW(), #{updateName}, NOW())
        ON DUPLICATE KEY UPDATE
            category_id = VALUES(category_id),
            expense_amount = VALUES(expense_amount),
            expense_date = VALUES(expense_date),
            expense_type = VALUES(expense_type),
            remark = VALUES(remark),
            create_name = VALUES(create_name),
            create_time = VALUES(create_time),
            update_name = VALUES(update_name),
            update_time = VALUES(update_time)
    </insert>
    <select id="selectExpenseMetaData" resultType="org.company.finance.infrastructure.persistence.entity.DailyExpenseRecordEntity">
        SELECT
            record.id,
            record.category_id,
            category.category_name,
            record.expense_amount,
            record.expense_date,
            record.expense_type,
            record.remark,
            record.create_time,
            record.update_time
        FROM
            daily_expense_record record
                LEFT JOIN base_tally_category category ON record.category_id = category.id
        WHERE
            record.del_flag = 0
            <if test="vo.startDate != null and vo.endDate != null">
                AND record.expense_date BETWEEN #{vo.startDate}
                AND #{vo.endDate}
            </if>
        ORDER BY record.expense_date DESC, record.id ASC
    </select>
</mapper>
