<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.company.finance.report.infrastructure.persistence.ReportMapper">


    <select id="selectExpenseByDate" resultType="org.company.finance.report.application.query.model.ReportDataQueryModel">
	    SELECT
		    expense_date        `date`,
		    SUM(expense_amount) amount,
		    expense_type        expenseType
	    FROM
		    daily_expense_record
	    WHERE
		    expense_date BETWEEN #{startDate}
			    AND #{endDate}
		    AND del_flag = 0
	    GROUP BY
		    expense_date,
		    expense_type
    </select>
    <select id="selectBigCategoryExpense"
            resultType="org.company.finance.report.application.query.model.BigCategoryExpenseQueryModel">
        SELECT
            parent.id AS parent_id,
            parent.category_name AS parent_category,
            IFNULL( SUM( daily.expense_amount ), 0 ) AS expenseTotal,
            COUNT( daily.expense_amount ) expenseCount
        FROM
            base_tally_category parent
            LEFT JOIN base_tally_category child ON child.parent_id = parent.id
            OR parent.id = child.id
            LEFT JOIN daily_expense_record daily ON daily.category_id = child.id
            AND daily.del_flag = 0 AND daily.expense_date BETWEEN #{startDate} AND #{endDate}
        WHERE
            parent.parent_id = 0
          AND parent.expense_type = 1
        GROUP BY
            parent.id,
            parent.category_name
        HAVING
            SUM( daily.expense_amount ) > 0
        ORDER BY
            parent.id;
    </select>
    <select id="selectDataset" resultType="org.company.finance.report.application.query.model.ReportDatasetQueryModel">
        SELECT
            t_total.parent_id,
            t_total.parent_name,
            SUM( t_total.expense_amount ) expense_amount,
            t_total.daily_date
        FROM
            (
                SELECT
                    daily.category_id,
                    category.category_name,
                    category.parent_id,
                    IFNULL( parentCategory.category_name, category.category_name ) parent_name,
                    daily.expense_amount,
                    DATE_FORMAT( daily.expense_date, '%Y-%m' ) daily_date
                FROM
                    daily_expense_record daily
                        LEFT JOIN base_tally_category category ON daily.category_id = category.id
                        LEFT JOIN base_tally_category parentCategory ON category.parent_id = parentCategory.id
                WHERE
                    daily.expense_date BETWEEN #{startDate}
                        AND #{endDate}
                  AND daily.expense_type = 1
            ) t_total
        GROUP BY
            t_total.parent_id,
            t_total.parent_name,
            t_total.daily_date
        ORDER BY
            t_total.daily_date ASC

    </select>
    <select id="selectExpenseByMonth" resultType="org.company.finance.report.application.query.model.ReportDataQueryModel">
        SELECT
            DATE_FORMAT( expense_date, '%Y-%m' ) `date`,
            SUM( expense_amount ) amount
        FROM
            `daily_expense_record`
        WHERE
            del_flag = 0
          AND expense_type = 1
          AND expense_date BETWEEN #{startDate}
            AND #{endDate}
        GROUP BY
            DATE_FORMAT( expense_date, '%Y-%m' )
        ORDER BY
            DATE_FORMAT( expense_date, '%Y-%m' ) ASC
    </select>
    <select id="selectBigCategoryExpenseDetail"
            resultType="org.company.finance.report.application.query.model.BigCategoryExpenseQueryModel">
        WITH amount_table AS (
            SELECT
                parent.id AS parent_id,
                parent.category_name AS parent_category,
                child.id child_id,
                child.category_name child_category,
                IFNULL( SUM( daily.expense_amount ), 0 ) AS expenseTotal,
                COUNT( daily.expense_amount ) expenseCount
            FROM
                base_tally_category parent
                    LEFT JOIN base_tally_category child ON child.parent_id = parent.id
                    OR parent.id = child.id
                    LEFT JOIN daily_expense_record daily ON daily.category_id = child.id
                    AND daily.del_flag = 0 AND daily.expense_date BETWEEN #{startDate} AND #{endDate}
            WHERE
                parent.parent_id = 0
              AND parent.expense_type = 1
            GROUP BY
                parent.id,
                child.id,
                parent.category_name
            HAVING
                SUM( daily.expense_amount ) > 0
            ORDER BY
                parent.id
        )
        SELECT * FROM amount_table
        WHERE 1 = 1
            <if test="bigCategoryId != null and bigCategoryId != -1">
                AND amount_table.parent_id = #{bigCategoryId}
            </if>
    </select>
    <select id="selectExpenseDetailList"
            resultType="org.company.finance.report.application.query.model.ExpenseDetailQueryModel">
        WITH amount_detail AS (
            SELECT
                daily.expense_date,
                parent.id AS parent_id,
                parent.category_name AS parent_category,
                child.id child_id,
                child.category_name child_category,
                daily.expense_amount AS expenseTotal,
                daily.remark
            FROM
                base_tally_category parent
                    LEFT JOIN base_tally_category child ON child.parent_id = parent.id
                    OR parent.id = child.id
                    JOIN daily_expense_record daily ON daily.category_id = child.id
                    AND daily.expense_date BETWEEN #{startDate} AND #{endDate}
                    AND daily.del_flag = 0
            WHERE
                parent.parent_id = 0
              AND parent.expense_type = 1
            ORDER BY
                daily.expense_date,
                parent.id,
                child.id
        )
        SELECT
            *
        FROM
            amount_detail
        WHERE
            1 = 1
            <if test="bigCategoryId != null and bigCategoryId != -1">
                AND parent_id = #{bigCategoryId}
            </if>
            <if test="smallCategoryId != null and smallCategoryId != -1">
                AND child_id = #{smallCategoryId}
            </if>
        ORDER BY
            expense_date DESC,
            parent_id,
            child_id
    </select>
</mapper>
